
@media screen and (max-width: 1250px){
    /* CONTAINER */
    .container{
        max-width: 1000px;
    }

    /*******************
    content boxes
    ***************/
    .content-box-lg{
        padding: 120px 0;
    }
    .content-box-md{
    padding: 90px 0;
    }
    .content-box-sm{
        padding: 60px 0;
    }
    .content-box-xs{
        padding: 30px 0;
    }

    /*******************
    Buttons
    ***************/
    .btn{
        font-size: 18px;
        padding: 10px 30px;
    }

    /*******************
    HOME
    ***************/
    .home{
        padding-left: 20px;
    }
    .trendings span{
        height: 2px;
        width: 30px;
        background-color: #f8854a;
        display: inline-block;
        margin: 0 5px 3px 0;
    }
    .home-text{
        margin-right: 50px;
    }
    .home .home-text .text-1{
        font-size: 50px;
        width: 100%;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .home .home-text p{
        font-size: 18px;
        margin-bottom: 40px;
        width: 100%;
    }
    .flex{
        display: flex;
    }
    .home-img img{
        margin-top: 30px;
        transform: translateY(-50px);
        width: 400px;
    }

    /*******************
        ABOUT
    ***************/
    .heading{
        font-size: 20px;
    }
    .about .about-info h1{
        font-size: 18px;
    }
    .about .about-info p{
        margin: 0 0px 20px 10px;
    }
    .about-btn{
        margin-left: 75%;
    }
    .about-blog-date p{
        padding: 5px;
        font-size: 14px;
        width: 200px;
        color: #CCC;
    }
    .about-blog-info .vertical-dashed span{
        margin: 0 10px;
    }

    .new-blog .heading p{
        padding: 30px 200px;
        color: #CCC;
    }
    .email-form input{
        margin-left: 25%;
    }
}   


@media screen and (max-width: 1100px){
    /* CONTAINER */
    .container{
        max-width: 900px;
    }

    /*******************
    content boxes
    ***************/
    .content-box-lg{
        padding: 100px 0;
    }
    .content-box-md{
    padding: 80px 0;
    }
    .content-box-sm{
        padding: 50px 0;
    }
    .content-box-xs{
        padding: 30px 0;
    }

    /*******************
    Buttons
    ***************/
    .btn{
        font-size: 18px;
        padding: 10px 30px;
    }

    /*******************
    HOME
    ***************/
    .home{
        padding-left: 0px;
    }
    .trendings span{
        height: 2px;
        width: 30px;
        display: inline-block;
        margin: 0 5px 3px 0;
    }
    .home-text{
        padding-right: 50px;    
    }
    .home .home-text .text-1{
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 20px;
        width: 100%;
    }
    .home .home-text p{
        font-size: 18px;
        margin-bottom: 40px;
        width: 100%;
    }
    .flex{
        display: flex;
    }
    .home-img img{
        transform: translateY(-50px);
        width: 350px;
    }


    /*******************
        ABOUT
    ***************/
    .heading{
        font-size: 20px;
    }
    .about .about-info h1{
        font-size: 20px;
    }
    .about .about-info p{
        margin: 0 0px 20px 10px;
        font-size: 14px;
    }
    .about-btn{
        margin-left: 70%;
    }
    .about-blog-date p{
        padding: 5px;
        font-size: 14px;
        width: 200px;
        color: #CCC;
    }
    .about-blog-info .vertical-dashed span{
        margin-left: 30px;
    }

    /*******************
        PAGES
    ***************/
    .pages .flex{
        display: block;
    }
    .pages img{
        display: block;
        width: 500px;
        margin-left: 180px;
    }

    /*******************
        NEW BLOG
    ***************/
    .new-blog .heading p{
        padding: 30px 150px;
        color: #CCC;
    }
    .email-form input{
        margin-left: 25%;
    }

    /*******************
        CONTACT
    ***************/
    .contact-links{
        margin-left: 40px;
        margin-top: 0;
    }
    .partners{
        margin-left: 40px;
        margin-top: 0;
    }
}   



@media screen and (max-width: 950px){
    /* NAVBAR */
    .navbar .container{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        background: #f4f4f4;
        transition: all .3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbar .menu .btn{
        margin-left: 0;
        margin-top: 50px;
    }


    /* CONTAINER */
    .container{
        max-width: 600px;
    }

    /*******************
    content boxes
    ***************/
    .content-box-lg{
        padding: 80px 0;
    }
    .content-box-md{
    padding: 70px 0;
    }
    .content-box-sm{
        padding: 40px 0;
    }
    .content-box-xs{
        padding: 20px 0;
    }

    /*******************
    Buttons
    ***************/
    .btn{
        font-size: 16px;
        padding: 10px 20px;
    }

    /*******************
    HOME
    ***************/
    .home{
        padding-left: 20px;
    }
    .trendings span{
        height: 2px;
        width: 30px;
        background-color: #f8854a;
        display: inline-block;
        margin: 0 5px 3px 0;
    }
    .home .home-text .text-1{
        font-size: 45px;
        width: 100%;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .home .home-text p{
        font-size: 16px;
        margin-bottom: 40px;
        width: 100%;
    }
    .flex{
        display: block;
    }
    .home-img img{
        margin-top: 30px;
        transform: translateY(0);
        width: 350px;
    }

    /*******************
        ABOUT
    ***************/
    .heading{
        font-size: 20px;
    }
    .about .about-info h1{
        font-size: 20px;
    }
    .about .about-info p{
        margin: 0 0px 20px 10px;
    }
    .about-btn{
        margin-left: 3%;
    }
    .about-blog-date p{
        padding: 5px;
        font-size: 14px;
        width: 200px;
        color: #CCC;
    }
    .about .latest-blog .flex{
        display: flex;
    }
    .about-blog-info .vertical-dashed span{
        margin: 0 10px;
    }

    /*******************
        PAGES
    ***************/
    .pages img{
        display: block;
        width: 500px;
        margin-left: 30px;
    }

    /*******************
        NEW BLOG
    ***************/
    .new-blog .heading p{
        padding: 30px 0px;
        color: #CCC;
    }
    .email-form input{
        margin-left: 20%;
    }

    /*******************
        CONTACT
    ***************/
    .contact .partners .flex{
        display: flex;
    }
    .contact-links{
        margin-left: 0;
        margin-top: 40px;
    }
    .partners{
        margin-left: 0px;
        margin-top: 40px;
    }
}   


@media screen and (max-width: 800px){
    /* CONTAINER */
    .container{
        max-width: 500px;
    }

    /*******************
    content boxes
    ***************/
    .content-box-lg{
        padding: 60px 0;
    }
    .content-box-md{
    padding: 50px 0;
    }
    .content-box-sm{
        padding: 30px 0;
    }
    .content-box-xs{
        padding: 15px 0;
    }

    /*******************
    Buttons
    ***************/
    .btn{
        font-size: 16px;
        padding: 10px 20px;
    }

    /*******************
    HOME
    ***************/
    .home{
        padding-left: 20px;
    }
    .trendings span{
        height: 2px;
        width: 30px;
        display: inline-block;
        margin: 0 5px 3px 0;
    }
    .home .home-text .text-1{
        font-size: 40px;
        width: 100%;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .home .home-text p{
        font-size: 15px;
        margin-bottom: 40px;
        width: 100%;
    }
    .flex{
        display: block;
    }
    .home-img img{
        margin-top: 30px;
        transform: translateY(0);
        width: 400px;
    }

    /*******************
        ABOUT
    ***************/
    .heading{
        font-size: 20px;
    }
    .about .about-info h1{
        font-size: 18px;
    }
    .about .about-info p{
        margin: 0 0px 20px 10px;
    }
    .about-btn{
        margin-left: 3%;
    }
    .about-blog-date p{
        padding: 5px;
        font-size: 14px;
        width: 200px;
        color: #CCC;
    }
    .about .latest-blog .flex{
        display: flex;
    }
    .about-blog-info .vertical-dashed span{
        margin: 0 10px;
    }

    /*******************
        PAGES
    ***************/
    .pages img{
        display: block;
        width: 500px;
    }

    /*******************
        NEW BLOG
    ***************/
    .new-blog .heading p{
        padding: 30px 0px;
        color: #CCC;
    }
    .email-form input{
        margin-left: 18%;
    }

    /*******************
        CONTACT
    ***************/
    .contact-links{
        margin-left: 0;
        margin-top: 40px;
    }
    .partners{
        margin-left: 0px;
        margin-top: 40px;
    }
}   


@media screen and (max-width: 672px){
    /* CONTAINER */
    .container{
        max-width: 400px;
    }

    /*******************
    content boxes
    ***************/
    .content-box-lg{
        padding: 60px 0;
    }
    .content-box-md{
    padding: 50px 0;
    }
    .content-box-sm{
        padding: 30px 0;
    }
    .content-box-xs{
        padding: 15px 0;
    }

    /*******************
    Buttons
    ***************/
    .btn{
        font-size: 14px;
        padding: 10px 20px;
    }

    /*******************
    HOME
    ***************/
    .home{
        padding-left: 20px;
    }
    .trendings span{
        height: 2px;
        width: 30px;
        display: inline-block;
        margin: 0 5px 3px 0;
    }
    .home .home-text .text-1{
        font-size: 35px;
        width: 100%;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .home .home-text p{
        font-size: 15px;
        margin-bottom: 40px;
        width: 100%;
    }
    .flex{
        display: block;
    }
    .home-img img{
        margin-top: 30px;
        transform: translateY(0);
        width: 400px;
    }

    /*******************
        ABOUT
    ***************/
    .heading{
        font-size: 20px;
    }
    .about .about-info h1{
        font-size: 18px;
    }
    .about .about-info p{
        margin: 0 0px 20px 10px;
    }
    .about-btn{
        margin-left: 3%;
    }
    .about-blog-date p{
        padding: 5px;
        font-size: 14px;
        width: 200px;
        color: #CCC;
    }
    .about .latest-blog .flex{
        display: flex;
    }
    .about-blog-info .vertical-dashed span{
        margin: 0 10px;
    }

    /*******************
        PAGES
    ***************/
    .pages img{
        display: block;
        width: 400px;
    }

    /*******************
        NEW BLOG
    ***************/
    .new-blog .heading p{
        padding: 30px 0px;
        color: #CCC;
    }
    .email-form input{
        margin-left: 15%;
    }

    /*******************
        CONTACT
    ***************/
    .contact-links{
        margin-left: 0;
        margin-top: 40px;
    }
    .partners{
        margin-left: 0px;
        margin-top: 40px;
    }
}   


@media screen and (max-width: 500px){
    /* CONTAINER */
    .container{
        max-width: 400px;
    }

    /*******************
        content boxes
    ***************/
    .content-box-lg{
        padding: 60px 0;
    }
    .content-box-md{
    padding: 50px 0;
    }
    .content-box-sm{
        padding: 30px 0;
    }
    .content-box-xs{
        padding: 15px 0;
    }

    /*******************
        Buttons
    ***************/
    .btn{
        font-size: 14px;
        padding: 10px 20px;
    }

    /*******************
        HOME
    ***************/
    .home{
        padding-left: 20px;
    }
    .home .home-text .text-1{
        font-size: 35px;
        width: 100%;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .home .home-text p{
        font-size: 15px;
        margin-bottom: 40px;
        width: 100%;
    }
    .flex{
        display: block;
    }
    .home-img img{
        margin-top: 30px;
        transform: translateY(0);
        width: 350px;
    }

    /*******************
        ABOUT
    ***************/
    .about .about-info h1{
        font-size: 18px;
    }
    .about .about-info p{
        margin: 0 0 20px 10px;
    }
    .about-btn{
        margin-left: 3%;
    }
    .about-blog-date p{
        padding: 5px;
        font-size: 14px;
        width: 200px;
        color: #CCC;
    }
    .latest-blog{
        margin-top: 30px;
    }
    .view-episode-btn{
        margin: 50px 0;
    }
    .about-blog-info .vertical-dashed span{
        margin: 0 10px;
    }
    .about .latest-blog .flex{
        display: flex;
    }

    /*******************
        PAGES
    ***************/
    .pages img{
        display: block;
        width: 400px;
    }

    /*******************
        NEW BLOG
    ***************/
    .new-blog .heading p{
        padding: 30px 0px;
        color: #CCC;
    }
    .email-form input{
        margin-left: 15%;
    }
    
    /*******************
        CONTACT
    ***************/
    .contact-links{
        margin-left: 0;
        margin-top: 40px;
    }
    .partners{
        margin-left: 0px;
        margin-top: 40px;
    }
}   
