@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

/*******************
GLOBAL
***************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

/*******************
content boxes
***************/
.content-box-lg{
    padding: 120px 0;
}
.content-box-md{
padding: 90px 0;
}
.content-box-sm{
    padding: 60px 0;
}
.content-box-xs{
    padding: 30px 0;
}
a{
    text-decoration: none;
}
.text-center{
    text-align: center!important;
}

/*******************
Buttons
***************/
.btn{
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 50px;
}
.btn-orange{
    background-color: #f8854a;
    color: #FFF;
    transition: all .3s infinite;
}
.btn-orange:hover{
    background-color: transparent;
    color: #f8854a;
    border: 1px solid #f8854a;
}

.btn-transparent{
    background-color: transparent;
    color: #f8854a;
    border: 1px solid #f8854a;
    transition: all .2s ease-in;
}
.btn-transparent:hover{
    background-color: #f8854a;
    color: #FFF;
}

/*******************
    HOME
***************/
.home{
    background-color: #f1f1f1;
    /* background-color: #; */
    position: relative;
}
.trendings{
    color: #f8854a;
}
.trendings span{
    height: 2px;
    width: 30px;
    background-color: #f8854a;
    display: inline-block;
    margin: 0 5px 3px 0;
}
.home .home-text{
    margin-top: 90px;
}
.home .home-text .text-1{
    font-size: 45px;
    width: 90%;
    line-height: 1.1;
    margin-bottom: 20px;
    
}
.home .home-text p{
    font-size: 18px;
    margin-bottom: 40px;
    width: 90%;
    line-height: 1.4;
}
.home .flex{
    margin-top: 80px;
}
.flex{
    display: flex;
}
.flex-space{
    display: flex;
    justify-content: space-between;
}
.home-img img{
    margin-bottom: 50px!important;
}

/*******************
    ABOUT
***************/
.box{
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px;
    background-color: #FFF;
    transform: translateY(-80px);
}

.heading{
    font-size: 20px;
}
.about .about-info h1{
    margin: 20px 0 10px 10px;
}
.about .about-info p{
    margin: 0 70px 20px 10px;
    font-size: 17px;
}
.about-btn{
    margin-left: 80%;
}
.about-blog-info{
    margin-top: 30px;
}
.about-blog-info .vertical-dashed span{
    width: 2px;
    height: 100px;
    background-color: #CCC;
    display: inline-block;
    margin-right: 10px;
}
.about-blog-date p{
    padding: 5px;
    font-size: 14px;
    width: 200px;
    color: #CCC;
}
.latest-blog{
    margin-top: 30px;
}
.view-episode-btn{
    margin: 50px 0;
}

/*******************
    BLOG POSTS
***************/
.blog .card{
    width: 380px;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    background-color: #FFF;
    margin-top: 50px;
    margin-left: 30px!important;
}
.card .card-dashed span{
    width: 4px;
    height: 60px;
    background-color: #f8854a;
    display: inline-block;
    transform: translateX(-32px);
}
.card .card-title h1{
    color: #f8854a;
    display: inline-block;
}
.card .card-title span{
    display: inline-block;
    margin-left: 10px;
    color: #CCC;
}
.card .card-title p{
    color: #CCC;
    font-size: 16px;
    margin-top: 10px;
}
.card .card-content h1{
    font-size: 25px;
    line-height: 1.3;
    margin-top: 10px;
}
.card .card-content p{
    color: #CCC;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*******************
    PAGES
***************/
.pages .pages-item{
    margin-top: 80px;
}
.pages img{
    display: block;
}

/*******************
    NEW BLOG
***************/
.new-blog .heading h1{
    text-decoration: underline;
}
.new-blog .heading p{
    padding: 30px 350px;
    color: #CCC;
}
.email-form input{
    padding: 20px;
    background-color: #f1f1f1;
    color: #CCC;
    border: none;
    border-radius: 5px;
    width: 40%;
    margin-left: 25%;
}
.email-form a{
    padding: 20px;
    margin-left: -5px;
    border-radius: 0;
}
.email-form i{
    margin-top: 10px;
}

/*******************
    CONTACT
***************/
.contact .contact-info .contact-desc{
    color: #CCC;
    margin: 30px 0;
    line-height: 1.5;
}
.contact .contact-info .social-icon h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.contact .contact-info .social-icon i{
    font-size: 20px;
    color: #f8854a;
    border: 1px solid #f8854a;
    padding: 15px;
    border-radius: 50%;
    margin-right: 15px;
}
.contact .contact-info .social-icon i:hover{
    background-color: #f8854a;
    color: #FFF;
    transition: all .3s ease-in;
    cursor: pointer;
}
.contact-links{
    margin-left: 100px;
}
.contact-links h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.contact-links p{
    color: #CCC;
    padding: 15px 0;
}
.partners{
    margin-left: 100px;
}
.outer-line{
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.partners h4{
    font-size: 20px;
    margin-bottom: 30px;
}
.partners .google-desc{
    margin-left: 10px;
}
.partners .google-desc p{
    color: #CCC;
    font-size: 14px;
}
.partners .google-desc h5{
    font-size: 20px;
}

/* ---------------------
        NAVBAR 
-------------------------*/
.navbar{
    position: fixed;
    width: 100%;
    background: #f4f4f4;
    padding: 30px 0;
    z-index: 999;
    /* box-shadow: 0 0 10px rgb(50 50 50 / 40%); */
    transition: all .3s ease;
}
.navbar .logo a{
    color: #f8854a;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #000;
    transition: all .3s ease;
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #000;
    display: block;
    font-size: 18px;
    margin-left: 50px;
}
.navbar .menu li a:hover{
    color: #f8854a;
}
.navbar ul.menu>li.active>a{
    color: #f8854a;
    border-bottom: 3px solid #f8854a;
    padding-bottom: 10px;
}
.navbar .menu .btn{
    margin-left: 30px;
}
.menu-btn{
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/* ---------------------
        FOOTER 
-------------------------*/
footer p{
    color: #CCC;
}
footer{
    border-top: 1px solid #CCC;
    margin: 0 100px;
}
























